* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header,
.content {
    padding: 5px 5%;
}

.header {
    background-color: #d9e5ff;
}

.header .logo {
    float: left;
}

.header .menu {
    display: inline-block;
    float: right;
    margin-top: 35px;
}

.header::after {
    content: "";
    display: block;
    clear: both;
}

.menu a {
    padding: 7px 15px;
    background-color: #fdac53;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
}

.menu a:hover {
    background-color: #d39858;
}

.content h3 {
    margin-top: 20px;
    padding-left: 50px;
}

.container2 {
    padding: 5px 10%;
    text-align: center;
    display: inline-block;
}

.card {
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card .buy {
    background-color: #d39858;
    padding: 5px;
    display: inline-block;
    width: 100%;
    margin-top: -5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 100%;
}

.box-card {
    border-radius: 20px;
    /* width: 200px; */
    overflow: hidden;
    transition: all 0.4s;
}

.box-card:hover {
    transform: scale(1.1);
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 45%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}